

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: large;
}

.main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.row1 div, .row2 div {
    flex: 1;
    margin-right: 10px;
}

.row1 div:last-child, .row2 div:last-child {
    margin-right: 0;
}

.heading {

    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}
p {
    margin: 5px 0;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}

button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    margin-top: 15px;
    
}

button:hover {
    opacity: 0.7;
}

button:active {
    background-color: rgb(162, 162, 228);
}

#displayDataContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
}